.card.border-secondary
    .card-header GUIDA
    .card-body(style='color: #000;')
        ul
            li
                strong Inserisci una funzione
            li
                strong ^n
                |  per inserire una potenza
            li Inserisci prima il coefficiente e poi la parte letterale